/* Write your CSS here */
.table-row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: 1px solid #cbd5e1;
  border-left: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
}
.transaction-text {
  color: #475569;
  font-size: 12px;
  font-family: 'roboto';
  width: 30%;
}
